.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main__clock {
	width: 500px;
	font-size: 120px;
}

.main__login-input::placeholder {
	text-align: center;
}